// Include theme-specific fonts

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"),
  url("../../fonts/Ubuntu/Ubuntu-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu-Bold";
  src: local("Ubuntu-Bold"),
  url("../../fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}


%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


/*********************************************
* Element Overrides
**********************************************/
.reveal {
  strong {
    font-family: $headingFont;
  }

  p {
    letter-spacing: 0.001em;
    text-shadow: 1px 1px $coal;
  }

  a:not(.image),
  a:not(.image):hover {
    text-shadow: 2px 2px 2px $coal;
  }

  small {
    color: #aaa;
    letter-spacing: 1px;

    a:not(.image),
    a:not(.image):hover {
      text-shadow: 1px 1px 1px $coal;
    }
  }

  li {
    margin-bottom: .5em;
  }

  footer {
    @include box-sizing(border-box);
    color: #888;
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
    font-size: 35%;
    text-align: right;
    letter-spacing: 2px;
    padding: 0 2em;
  }


  /*********************************************
  * Custom Classes
  **********************************************/

  .left--align {text-align: left;}
  .right--align {text-align: right;}

  .left {float: left;}
  .right {float: right;}

  .clear {clear: both;}
  .hide {display: none;}

  .blue {color: $blue !important;}
  .green {color: $green !important;}
  .yellow {color: $yellow !important;}
  .pink {color: $pink !important;}
  .red {color: $red !important;}
  .grey {color: $grey !important;}

  .copy--small {font-size: .75em;}
  .copy--xsmall {font-size: .5em;}
  .line--short {line-height: 1em;}
  .line--tall {line-height: 1.25em;}
  .spacing--wide {letter-spacing: 3px;}
  .no-margin {margin: 0;}

  .img--bare {@include box-shadow(none); border: none; margin: 0; padding: 0;}

  [class*="box"] {@extend %clearfix;}
  .box {padding: 1em 0;}
  .box--short {padding: .5em 0;}
  .box--med {padding: 2em 0;}
  .box--huge {padding: 3em 0;}
  .box--bottom {padding: 0 0 .5em;}

  .list--tight {
    margin-top: .5em;
    li  {margin-bottom: 0;}
  }

  .tip {
    @extend %clearfix;
    background: #efefef;
    display: block;
    margin-bottom: .5em;
    padding: .25em;
    text-align: left;

    span {
      display: inline-block;
      font-size: .7em;
      float: right;
    }
  }

  .plan { // img
    border: 20px solid #000;
    border-top: 30px solid #000;
    border-bottom: 30px solid #000;
  }

  .copyright a {
    color: $grey;
    text-shadow: none;
    position: relative;
    z-index: 10000;

    &:hover {
      text-shadow: none;
    }
  }
}
