/**
 * Support theme for reveal.js
 * Author: Julie Cameron http://juliecameron.com
 *
 * Based off Blood theme for reveal.js
 * Author: Walther http://github.com/Walther
 *
 * Designed to be used with highlight.js theme
 * "monokai_sublime.css" available from
 * https://github.com/isagalaev/highlight.js/
 *
 * For other themes, change $codeBackground accordingly.
 *
 */

@import "compass";
@import "lib/font-awesome/font-awesome";

 // Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"),
  url("../../fonts/Ubuntu/Ubuntu-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu-Bold";
  src: local("Ubuntu-Bold"),
  url("../../fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}


// Colors used in the theme
$blue:   #01A9B4;
$green:  #92BB44;
$yellow: #EDAB23;
$pink:   #F05B62;
$red:    #aa2233;
$grey:   #888888;
$coal:   #222222;
$white:  #ffffff;

$backgroundColor: #fefefe;
$headingColor: $red;

// Main text
$mainFont: Ubuntu, 'sans-serif';
$mainFontSize: 36px;
$mainColor: $coal;

// Headings
$headingFont: Ubuntu-Bold, 'sans-serif';
$headingTextShadow: 2px 2px 2px $coal;
$headingTextTransform: none;

// Links
$linkColor: $red;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: $pink;
$selectionColor: $white;


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


// some overrides after theme template import

.reveal {
  strong {
    font-family: $headingFont;
  }

  p {
    letter-spacing: 0.001em;
    text-shadow: 1px 1px $coal;
  }

  a:not(.image),
  a:not(.image):hover {
    text-shadow: 2px 2px 2px $coal;
  }

  small {
    color: #aaa;
    letter-spacing: 1px;

    a:not(.image),
    a:not(.image):hover {
      text-shadow: 1px 1px 1px $coal;
    }
  }

  li {
    margin-bottom: .5em;
  }
}


/*********************************************
* Custom Classes
**********************************************/
.reveal {
  .left--align {text-align: left;}
  .right--align {text-align: right;}

  .left {float: left;}
  .right {float: right;}

  .clear {clear: both;}
  .hide {display: none;}

  .blue {color: $blue !important;}
  .green {color: $green !important;}
  .yellow {color: $yellow !important;}
  .pink {color: $pink !important;}
  .red {color: $red !important;}
  .grey {color: $grey !important;}

  .copy--small {font-size: .75em;}
  .line--tall {line-height: 1.25em;}

  [class*="box"] {@extend %clearfix;}
  .box {padding: 1em 0;}
  .box--short {padding: .5em 0;}
  .box--med {padding: 2em 0;}
  .box--huge {padding: 3em 0;}

  .tip {
    @extend %clearfix;
    background: #efefef;
    display: block;
    margin-bottom: .5em;
    padding: .25em;
    text-align: left;

    span {
      display: inline-block;
      font-size: .7em;
      float: right;
    }
  }

  .plan { // img
    border: 20px solid #000;
    border-top: 30px solid #000;
    border-bottom: 30px solid #000;
  }
}

/*********************************************
 * FOOTER
 *********************************************/
.reveal {
  footer {
    @include box-sizing(border-box);
    color: #888;
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
    font-size: 35%;
    text-align: right;
    letter-spacing: 2px;
    padding: 0 2em;
  }
}
